.flight-header {
    font-size: .8em;
    border: 0.1em solid #ccc;
    color: #FFF;
    height: 8em;
    width: 68%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, 0.1);
    
    .top {
        display: grid;
        grid: 30px / 5% 95%;
        grid-gap: 0;
        padding: 5px;
        height: auto;
    }
    
    .top > div {
        padding: 10px 15px 0;
        font-size: 14px;

        a  {
            display: inline-block;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            text-align: center;
            border: 1px solid #fff;
            line-height: 36px;
        }

        img {
            width: 60%;
        }
    }

    div#checkboxes{
        text-align: right;

     
        input[type=checkbox] {
            display:none;
        }
             
        input[type=checkbox] + label {
            border: 0.1em solid #fff;
            background: transparent;
            height: 11px;
            width: 14px;
            display:inline-block;
            padding: 0;
            margin: 0 0 0 30px;
        }
        input[type=checkbox]:checked + label {
            background-image: url("../../../assets/images/checkmark.svg");
            height: 11px;
            width: 14px;
            display:inline-block;
            padding: 0;
            margin: 0 0 0 30px;
        }
        span {
            margin: 0 0 0 10px;
        }
    }

    .bottom {
        color: #345678;
        display: grid;
        grid: 30px / 8% 14% 14% 14% 36% 7% 7%;
        grid-gap: 0;
        background-color: rgba(255, 255, 255, 0.8);
        background-image: linear-gradient(#BACAD8, #fff, #fff);
        padding: 5px;
        margin-top: 22px;
    }
    
    .bottom > div {
        padding: 10px 20px 0;
        font-size: 13px;
        line-height: 10px;
    }
  }

  .flight-content {
    margin-bottom: 2em;
    
    .row {
        color: #505050;
        display: grid;
        grid: 50px / 8% 14% 14% 14% 36% 7% 7%;
        grid-gap: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        width: 68%;
        margin: 10px auto 0 auto;
        border-radius: .5em;
        height: 50px;
    }
    
    .row > div {
        padding: 10px 20px 0;
        font-size: 12px;
        line-height: 30px;

        a {
            line-height: 35px;
        }
        img {
            width: 65%;
        }
        #link {
            width: 1.2em;
        }
    }
    #details{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
  