.flight-header {
  font-size: .8em;
  border: 0.1em solid #ccc;
  color: #FFF;
  height: 8em;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0.1); }
  .flight-header .top {
    display: grid;
    grid: 30px / 5% 95%;
    grid-gap: 0;
    padding: 5px;
    height: auto; }
  .flight-header .top > div {
    padding: 10px 15px 0;
    font-size: 14px; }
    .flight-header .top > div a {
      display: inline-block;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      text-align: center;
      border: 1px solid #fff;
      line-height: 36px; }
    .flight-header .top > div img {
      width: 60%; }
  .flight-header div#checkboxes {
    text-align: right; }
    .flight-header div#checkboxes input[type=checkbox] {
      display: none; }
    .flight-header div#checkboxes input[type=checkbox] + label {
      border: 0.1em solid #fff;
      background: transparent;
      height: 11px;
      width: 14px;
      display: inline-block;
      padding: 0;
      margin: 0 0 0 30px; }
    .flight-header div#checkboxes input[type=checkbox]:checked + label {
      background-image: url("../../../assets/images/checkmark.svg");
      height: 11px;
      width: 14px;
      display: inline-block;
      padding: 0;
      margin: 0 0 0 30px; }
    .flight-header div#checkboxes span {
      margin: 0 0 0 10px; }
  .flight-header .bottom {
    color: #345678;
    display: grid;
    grid: 30px / 8% 14% 14% 14% 36% 7% 7%;
    grid-gap: 0;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(#BACAD8, #fff, #fff);
    padding: 5px;
    margin-top: 22px; }
  .flight-header .bottom > div {
    padding: 10px 20px 0;
    font-size: 14px;
    line-height: 10px; }

.flight-content {
  margin-bottom: 2em; }
  .flight-content .row {
    color: #505050;
    display: grid;
    grid: 50px / 8% 14% 14% 14% 36% 7% 7%;
    grid-gap: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    width: 60%;
    margin: 10px auto 0 auto;
    border-radius: .5em;
    height: 50px; }
  .flight-content .row > div {
    padding: 10px 20px 0;
    font-size: 13px;
    line-height: 30px; }
    .flight-content .row > div a {
      line-height: 35px; }
    .flight-content .row > div img {
      width: 65%; }
    .flight-content .row > div #link {
      width: 1.2em; }
  .flight-content #details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
